
body {

    font-family: sans-serif;
    background-image: url("img/estatuas.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.title {
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
    color:#EEE8B2;
    padding-top: 2rem;
  
  }

p {
  margin-bottom: 40px;
  font-size: 30px;
  color:#EEE8B2;
  font-family: Arial, sans-serif;
  padding: 0 50px;
}


.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    border: 2px solid #203B37;
    color: #EEE8B2;
    text-decoration: none;
    background: #203B37;
}
.btn:hover {
    background: none;
    padding-bottom: 2rem;
}

.btn-home {
   display: flex;
   
}

.btn-home a{
    margin: 0 10px;
    
}
.content {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 4rem   ;
    padding-bottom: 4rem;
}
.sau {
    padding: 30px;
    background: #203B37;
    padding-bottom: 6rem;
}
.box-container {
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
     text-align: center;
     margin-bottom: 2rem;
}
.box-container .box {
      height: auto;
      width: 20rem;
      background:  #081B1B;
      text-align: center;
      border-radius: 1rem;
      box-shadow: 0 .3rem 5rem rgba(0, 0, 0, .5);
      margin: 2rem;
}
.box-container .box i {
        height: auto;
        width: 3rem;
        line-height: 3rem;
        text-align: center;
        border-radius: 50%;
        color: #EEE8B2;
        background: #081B1B;
        font-size: 2rem;
        margin: 1rem 0;
}
.prince {
    background: url(img/estatuas.png) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
} 
.contact {
    padding-top: 20px;
    background: #203B37;
    padding-bottom: 6rem;

}
section{
    background-color:  #081B1B;
}

.imgpiso{
    height: 15rem;
    width: 20rem;
    
}

  .audio_explora{
    padding-top: 2rem;
  }

  .audio_entrada{
    padding-top: 2rem;
  }

 