*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline; 
}
body {
    text-align: center;
    font-family: sans-serif;
}


.head {
   display: flex;
   align-items: center;
   justify-content: space-between;
   height: 63px;
   background: #081B1B;
   position: fixed;
   width: 100%;
   z-index: 100;
}

.navbar {
    display: flex;
    margin-right: 10px;
}
.logo {
    margin-left: 30px;
}
.logo a {
     text-decoration: none;
     color: #EEE8B2;
     text-transform: uppercase;
     font-size: 20px;
}
.navbar a {
    display: block;
    padding: 20px 20px;
    color: #EEE8B2;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}
.navbar a:hover {
       background: #3f3f3f;
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
  }
.header{
    height: 60vh !important;
    background: url(./piramide.jpg) no-repeat center;
    background-size: cover;
}
.title {
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
    color:#EEE8B2;
    padding-top: 2rem;
  
  }

p {
  margin-bottom: 40px;
  font-size: 25px;
  color:#EEE8B2;
  font-family: Arial, sans-serif;
  padding: 0 50px;
}


.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    border: 2px solid #203B37;
    color: #EEE8B2;
    text-decoration: none;
    background: #203B37;
}
.btn:hover {
    background: none;
    padding-bottom: 2rem;
}

.btn-home {
   display: flex;
   
}

.btn-home a{
    margin: 0 10px;
    
}
.content {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 4rem   ;
    padding-bottom: 4rem;
}
.sau {
    padding: 30px;
    background: #203B37;
    padding-bottom: 6rem;
}
.box-container {
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
     text-align: center;
     margin-bottom: 2rem;
}
.box-container .box {
      height: auto;
      width: 20rem;
      background:  #081B1B;
      text-align: center;
      border-radius: 1rem;
      box-shadow: 0 .3rem 5rem rgba(0, 0, 0, .5);
      margin: 2rem;
}
.box-container .box i {
        height: auto;
        width: 3rem;
        line-height: 3rem;
        text-align: center;
        border-radius: 50%;
        color: #EEE8B2;
        background: #081B1B;
        font-size: 2rem;
        margin: 1rem 0;
}
.prince {
    background: url(./estatuas.jpg) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}
.contact {
    padding-top: 20px;
    background: #203B37;
    padding-bottom: 6rem;

}
section{
    background-color:  #081B1B;
}

.imgpiso{
    height: 15rem;
    width: 20rem;
    
}
.footer {
    position: relative;
    width: 100%;
    background: #081B1B;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 10px 5px;
    flex-wrap: wrap;
  }
  
  .icon-elem {
    list-style: none;
  }
  
  .icon {
    color: #EEE8B2;
    font-size: 32px;
    display: inline-block;
    margin: 0 10px;
    transition: 0.5s;
  }
  
  .icon:hover {
    transform: translateY(-10px);
  }
  
  .menu {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  }
  
  .menu-elem {
    list-style: none;
  }
  .menu-icon {
    color: #EEE8B2;
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    margin: 5px 10px;
    opacity: 0.5;
    transition: 0.3s;
  }
  
  .menu-icon:hover {
    opacity: 1;
  }
  
  .text {
    color: #EEE8B2;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 20px;
  }


  .audio_explora{
    padding-top: 2rem;
  }

  .audio_entrada{
    padding-top: 2rem;
  }

 